/* TODO: design your profile with CSS */

body {
  background-color: rgb(247,249,252);
}

h1 {
  text-align: center
 }

h3 {
  font-family: 'Roboto', sans-serif;
  /*color: #ff530e;*/
  font-size: 24px;
  text-align: center
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  background-color: #6b72e1;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
}

.card {
  background-color: white;
  width: 700px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 25px rgba(0,0,0, 0.2);
  text-align: center;
}

img {
  border-radius: 50px;
}

@media(max-width: 992px) {
  body{
    color: blue;
  }
  ul {
  list-style: underline;
}

}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline;
}

i {
  font-size: 25px;
}

.title-hover:hover {
 color: blue;
 text-decoration: underline;
 font-weight: bold;
}


#fotter h1 {
  color: green;
}



